<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<div th:replace="fragments/header :: header-css" />
</head>
<body>

  <div th:replace="fragments/header :: header" />

  <div class="container-fluid">

    <div class="starter-template">
      <div class="row">
        <div class="col-md-8">
          <h1>Product List</h1>
        </div>
        <div class="col-md-4">
        <a th:href="@{/createproduct}">
          <button type="button" class="btn btn-primary">New
            Product</button></a>
        </div>
      </div>
      <div class="row">
        <div class="list-group">
          <table class="table" dt:table="true">
            <thead>
              <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Available</th>
                <th>Qty</th>
                <th>Category Path</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="product : ${products}">
                <td th:text="${product.name}"></td>
                <td th:text="${product.description}"></td>
                <td th:text="${product.price}"></td>
                <td th:text="${product.available}"></td>
                <td th:text="${product.qty}"></td>
                <td th:text="${product.category.path}"></td>
                <td>
                 <a th:href="@{/editproduct/{id}(id=${product.id})}">
                  <button type="button" class="btn">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                  </button></a>
                   <a th:href="@{/deleteproduct/{id}(id=${product.id})}">
                  <button type="button" class="btn">
                  
                   <i class="fa fa-times" aria-hidden="true"></i>
                  </button></a>
                </td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
  <!-- /.container -->

  <div th:replace="fragments/footer :: footer" />
</body>
</html>